kind: ConfigMap
apiVersion: v1
metadata:
  name: ibm-cloud-operator
  namespace: {{operatorNamespace}}
  labels:
    app.kubernetes.io/name: ibmcloud-operator
data:
  namespace: {{managementNamespace}}